:root{
    --bs-body-font-family: 'Rubik', sans-serif;
}

.accordion-button, .accordion-button:focus {
    border-bottom: 1px solid border-color;
}

.navbar {
    .btn-link {
        color: text-muted;
        text-decoration: none;
    }
}

.btn-white {
    background: white;
}

.footer-nav-link {
    color: rgba(255,255,255, .7);
    transition: color linear .2s;
    text-decoration: none;
    display: block;
    margin-bottom: .5rem;
    
    &:hover {
        color: primary;
    }
}

.logo {
    width: 8.25rem;
}

.navbar-expand-lg.navbar {

    .nav-link {
        padding: 1.75rem 1rem;
        margin: 0 1.5rem;
    }
}

.pricing-table {
    --pricing-padding-x: 3.5rem;
    --pricing-padding-y: 4rem;
    --pricing-border: 1px solid #{$border-color};
}

.pricing-heading {
    min-height: 28rem;
    padding: var(--pricing-padding-y) var(--pricing-padding-x);
    border-bottom: var(--pricing-border);
}

.pricing-cell {
    --pricing-padding-y: 0;

    min-height: 5rem;
    padding: var(--pricing-padding-y) var(--pricing-padding-x);
    border-bottom: var(--pricing-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtitle {
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: .4em;
    color: text-muted;
    font-weight: 500;
}

.subtitle-xs {
    font-size: 70%;
}

.fs-9{
    font-size: .8125rem;
}

.align-super {
    vertical-align: super;
}